body {
    background-color: lightskyblue;
    background-image: url(Memory/background.png);
}

.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 1em;
    margin: 20px 50px;
}

#title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 50%;
}

.top {
    background-color: moccasin;
    color: lightblue;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    width: 40%;
    border-radius: 40px;
    padding: 20px 40px;
    border: solid 5px #f7dd88;
    filter: drop-shadow(0 0 0.60rem white);
    margin: auto;
}

a {
    text-decoration: none;
    color: lightblue;

}

#topContainer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.card {
   width: 100%;
   border-radius: 30px;
   visibility: hidden;
}

.cardCon {
    background-image: url("Memory/memorycard.png"); 
    background-size: 100%;
    background-color: lightgoldenrodyellow;
    background-repeat: no-repeat;
    border: solid 10px moccasin;
    border-radius: 40px;
    filter: drop-shadow(0 0 0.60rem white);
}